<nav class="nav2">
  <a href="/">
    <img 
      src="../../img/logo-nav.png" 
      srcset="../../img/logo-nav@2x.png 2x, ../../img/logo-nav@3x.png 3x"
      alt="logo da Dr Matheus Pupulin">
  </a>

  <label>
    <input type="checkbox" />
    <span class="menu"> 
      <span class="hamburger only-mobile">
        <span class="navicon abrir">Menu</span>
        <p class="fechar">Fechar</p> 
      </span> 
      <a href="" class="lightBlueButton only-mobile">Agendar consulta</a>
    </span>

    <ul>
      <img 
        src="../../img/logo-nav-mob.png"
        srcset="../../img/logo-nav@2x.png 2x, ../../img/logo-nav@3x.png 3x"
        alt="Logo Dra. Fran" class="only-mobile">
      <li>
        <a href="/">
          Início
        </a>
      </li>
      <li>
        <a href="/tratamentos">
          Tratamentos
        </a>
      </li>
      <li>
        <a href="/videos">
          Vídeos
        </a>
      </li>
      <li>
        <a href="/contato">
          Contato
        </a>
      </li>
      <li>
        <a href="/blog">
          Blog    
        </a>
      </li>
      <li>
        <a href="/sobre" class="lightBlueButton">
          Agendar consulta
        </a>
      </li>
    </ul>
    
  </label>

  
</nav>
