@use 'index' as *;

header{
    aspect-ratio: 144/70;
    position: relative;
    >img{
        width: 100%;
        height: auto;
    }
    .container{
        position: absolute;
        top: 50%;
        left: 10rem;
        transform: translateY(-50%);
        width: 42rem;
        display: flex;
        flex-direction: column;
        .logo-header{
            width: 40rem;
            height: auto;
        }
        p{
            font-size: 2.4rem;
            font-weight: 600;
            color: $bege;
        }
    }
}

.tratamentos{
    background-color: $background2;
    padding: 11rem 0rem 10rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: -5rem;
    border-radius: 50px;
    z-index: 4;
    position: relative;
    h1{
        font-size: 4.4rem;
        font-weight: 600;
        color: $azul-300;
    }
    p{
        font-size: 2.3rem;
        font-weight: 400;
        color: $azul-300;
        width: 63rem;
    }
    .cards-tratamentos{
        display: flex;
        gap: 2rem;
        margin: 5rem 0 3rem;
        .card{
            width: 30rem;
            height: 40rem;
            background-color: $bege;
            border-radius: 30px;
            display: grid;
            grid-template-rows: 85px 1fr 1fr;
            gap: 1.3rem;
            padding: 5rem 2rem 5rem 3rem;
            img{
                max-height: 8rem;
                max-width: 9rem;
                object-fit: contain;
                margin-bottom: 1rem;
            }
            h2{
                font-size: 2.4rem;
                font-weight: 600;
                color: $azul-900;
            }
            p{
                font-size: 2rem;
                font-weight: 400;
                color: $azul-900;
                width: 100%;
            }
        }
    }
    .buttons{
        display: flex;
        align-self: center;
    }
    .tratamentos-back{
        position: absolute;
        top: 11rem;
        right: 0;
    }
}

.pedras{
    display: flex;
    flex-direction: column;
    gap: 14rem;
    padding: 13rem 7% 11rem;
    margin: 0;
    position: relative;
    .pedras-right{
        position: absolute;
        top: 4rem;
        right: 0;
        z-index: 1;
    }
    .pedras-left{
        position: absolute;
        top: 60rem;
        left: 0;
        z-index: 1;
    }
    .pedras-item{
        display: flex;
        align-items: center;
        gap: 10rem;
        z-index: 2;
        .left-pedras{
            width: 50%;
            display: flex;
            flex-direction: column;
            gap: 3rem;
            h2{
                font-size: 4.2rem;
                font-weight: 600;
                color: $azul-900;
                letter-spacing: 0%;
            }
            p{
                font-size: 2.2rem;
                line-height: 3rem;
                font-weight: 400;
                color: $azul-900;
            }
        }
        .right-pedras{
            width: 50%;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    .pedras-item.invert{
        flex-direction: row-reverse; 
    }
    .detalhe{
        display: flex;
        flex-direction: column;
        gap: 11rem;
        h2{
            font-size: 4.2rem;
            font-weight: 600;
            color: $azul-900;
            letter-spacing: 0%;
        }
        .wrap-detalhe{
            display: flex;
            gap: 8rem;
            .item-detalhe{
                width: 36rem;
                display: grid;
                grid-template-rows: 80px 50px 1fr;
                gap: 2.9rem;
                justify-items: center;
                text-align: center;
                img{
                    max-height: 8rem;
                    max-width: 8.5rem;
                    object-fit: contain;
                }
                h3{
                    font-size: 2.3rem;
                    width: 29rem;
                    font-weight: 600;
                    color: $azul-900;
                }
                p{
                    font-size: 2rem;
                    font-weight: 400;
                    color: $azul-900;
                    width: 100%;
                }
            }
        }
    }
}

.matheus{
    background-color: $background2;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    gap: 14rem;
    padding: 12rem 10rem 15rem;
    width: 100%;
    .container{
        display: flex;
        align-items: center;
        gap: 12rem;
        .left-matheus{
            display: flex;
            flex-direction: column;
            gap: 7rem;
            flex: 1;
            .title{
                display: flex;
                flex-direction: column;
                gap: 2rem;
                h2{
                    font-size: 4.4rem;
                    font-weight: 600;
                    color: $azul-300;
                    letter-spacing: 0%;
                }
                p{
                    font-size: 2rem;
                    font-weight: 300;
                    color: $azul-300;
                }
            }
            .text{
                display: flex;
                flex-direction: column;
                gap: 2.5rem;
                p{
                    font-size: 2.2rem;
                    line-height: 3rem;
                    font-weight: 400;
                    color: $azul-300;
                    span{
                        font-weight: 600;
                    }
                }
            }
        }
        .right-matheus{
            flex: 1;
            img{
                width: 100%;
                height: auto;
            }
        }
    }
}

.sintomas{
    padding: 10rem 0 10rem 0;
    .title{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 85%;
        margin: 0 auto 6rem;
        h1{
            font-size: 4.2rem;
            font-weight: 600;
            color: $azul-900;
            letter-spacing: 0%;
        }
        .buttons{
            display: flex;
            gap: 1.6rem;
            cursor: pointer;
        }
    }
    .swiper1{
        width: 100%;
        margin-left: 7%;
        overflow: hidden;
        .swiper-wrapper{
            width: 100%;
            .swiper-slide{
                width: 40rem;
                height: 45rem;
                border-radius: 30px;
                position: relative;
                cursor: grab;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                p{
                    position: absolute;
                    bottom: 5rem;
                    left: 4rem;
                    font-size: 2.4rem;
                    font-weight: 600;
                    color: $bege;
                }
            }
        }
    }
    p{
        font-size: 2rem;
        line-height: 3rem;
        font-weight: 400;
        color: $azul-900;
        width: 85%;
        margin: 8rem auto 3rem;
        text-align: center;
    }
    .blueButton{
        margin: 0 auto;
    }
}

.depoimentos{
    padding: 0rem 0 12rem 0;
    .title{
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 85%;
        margin: 0 auto 6rem;
        .left-title{
            display: flex;
            flex-direction: column;
            gap: 3rem;
            h1{
                font-size: 4.2rem;
                font-weight: 600;
                color: $azul-900;
                letter-spacing: 0%;
            }
            p{
                font-size: 2.2rem;
                font-weight: 400;
                color: $azul-900;
            }
        }
        .buttons{
            display: flex;
            gap: 1.6rem;
            cursor: pointer;
        }
    }
    .swiper2{
        width: 100%;
        margin-left: 7%;
        overflow: hidden;
        .swiper-wrapper{
            width: 100%;
            .swiper-slide{
                background-color: #bfebe859;
                width: 61rem;
                height: 37rem;
                border-radius: 30px;
                cursor: grab;
                display: flex;
                flex-direction: column;
                gap: 2.4rem;
                padding: 3rem;
                p{
                    font-size: 2rem;
                    font-weight: 400;
                    color: $azul-900;
                }
                h3{
                    font-size: 2.2rem;
                    font-weight: 600;
                    color: $azul-900;
                }
            }
        }
    }
}

.local{
    display: flex;
    gap: 2rem;
    width: 85%;
    margin: 0 auto;
    max-width: 1440px;
    padding-bottom: 12rem;
    .left-local{
        width: 50%;
        img{
            width: 100%;
            height: auto;
        }
    }
    .right-local{
        width: 52rem;
        display: flex;
        flex-direction: column;
        background-color: $branco;
        padding: 7rem;
        border-radius: 30px;
        gap: 2.5rem;
        h1{
            font-size: 3.6rem;
            line-height: 4rem;
            font-weight: 600;
            color: $azul-900;
            letter-spacing: 0%;
        }
        p{
            font-size: 2.2rem;
            font-weight: 400;
            color: $azul-900;
        }
    }
}
