---
title: Consulta de planejamento familiar
date: 2024-12-25T14:27:36.279Z
tags:
  - post
thumbnail: /img/info/Fran2.png
texto: >-
    <h1>Consulta de planejamento familiar</h1>
    <p>A consulta de planejamento familiar tem o objetivo de investigar a saúde fértil dos pacientes e orientá-los, levando em consideração os resultados dos exames e os objetivos pessoais.
        <br/><br/>
        Durante o planejamento familiar, por exemplo, podemos levar em consideração a possibilidade de postergar uma gestação, seja por motivos pessoais ou profissionais. O congelamento de óvulos e espermatozoides pode ser uma alternativa, preservando a fertilidade para uma gravidez no futuro.
        <br/><br/>
        O mesmo vale para casos em que é mais recomendado adiantar a gestação, caso a paciente tenha uma reserva ovariana baixa, por exemplo. 
        <br/><br/>
        Os métodos contraceptivos para evitar uma gravidez não planejada também podem ser abordados na consulta, além de tratamentos para possíveis doenças no sistema reprodutivo como síndrome dos ovários policísticos (SOP), endometriose e outras.
        <br/><br/>
    </p>

---