$background: #edf0e3;
$background2: #213d69;
$background3: #bfebe8;

$amarelo: #faff8f;

$azul-300: #bfebe8;
$azul-500: #80dbd9;
$azul-700: #213d69;
$azul-900: #0a1f33;

$branco: #fafaf7;

$bege: #edf0e3;

$verde: #bfeda6;
