@use "./colors" as *;
@use "./global" as *;

.nav {
  width: 90%;
  margin: 2.5rem 5% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0rem 5px 5rem;
  position: absolute;
  top: 0;
  z-index: 8;
  background-color: #213d6926;
  border-radius: 35px;
  input {
    display: none;
  }

  ul {
    display: flex;
    gap: 5rem;
    justify-content: flex-end;
    align-items: center;

    li {
      opacity: 1;
      a {
        font-style: normal;
        font-weight: 500;
        font-size: 1.7rem;
        line-height: 100%;
        letter-spacing: 0.8px;
        color: $bege;
      }
      .lightBlueButton{
        font-weight: 600;
        color: $azul-900;
      }
    }
  }

  @media screen and (max-width: 700px) {
    width: 85%;
    margin: 1.8rem 7% 0;
    padding: 2px 0rem 2px 7px;
    >a{
      width: 3rem;
      height: 3rem;
      margin: 0;
      img{
        width: 100%;
        height: 100%;
      };
    }

    label .menu {
      position: relative;
      z-index: 1000;
      cursor: pointer;
      display: flex;
      gap: 1.4rem;
      align-items: center;
    }

    .hamburger{
      .abrir{
        font-size: 1.4rem;
        line-height: 1.4rem;
        color: $bege;
        font-weight: 500;
      }
      .fechar{
        display: none;
      }
    }

    label input:checked {
      height: 100vh;
    }

    label input:checked + .menu .hamburger {
      .abrir{
        display: none;
      }
      .fechar{
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2%;
        font-size: 1.4rem;
        display: initial;
        animation: appear 0.5s ease-in;
        color: $bege;
      }
    }

    label ul {
      opacity: 0;
      display: none;
      animation: appear 0.5s ease-in;
    }

    label input:checked + .menu + ul {
      opacity: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 4vh;
      position: absolute;
      top: 0;
      width: 70vw;
      right: 0;
      padding: 2.3rem 2.4rem 3.7rem;
      height: 111vw;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      z-index: 200;
      border-radius: 30px 0px 0px 30px;
      li{
        a{
          font-size: 1.6rem;
          line-height: 1.6rem;
          letter-spacing: 0%;
          text-transform: none;
        }
      }
      >img{
        width: 14rem;
        height: 13rem; 
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }

  }
  @media screen and (min-width: 701px) and (max-width: 1260px) {
    padding-right: 10%;
    padding-left: 5%;
    padding-top: 2rem;
    padding-bottom: 2rem;

    label .menu {
      position: absolute;
      z-index: 1000;
      width: 50px;
      height: 50px;
      cursor: pointer;
    }

    label input {
      display: none;
    }

    label input:checked {
      height: 100vh;
      width: 100vw;
      margin-bottom: 0;
      padding-left: 0;
      top: -7.8rem;
    }

    label input:checked + .menu + ul {
      opacity: 1;
      flex-direction: column;
      display: flex;
      position: absolute;
      top: -4rem;
      width: 100vw;
      right: 0;
      padding-top: 6rem;
      padding-left: 2.5rem;
      padding-bottom: 4.6rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      border-radius: 0px 0px 0px 25px;
    }

    label ul {
      z-index: 200;
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      -webkit-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      display: none;
    }

    ul {
      gap: 0;

      li {
        position: relative;
        padding-bottom: 2rem;
        padding-top: 2rem;
        a {
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 100%;
        }
      }
    }
  }
}
.nav2 {
  width: 90%;
  margin: 2.5rem 5% 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0rem 5px 5rem;
  position: absolute;
  top: 0;
  z-index: 8;
  background-color: #bfebe826;
  border-radius: 35px;
  input {
    display: none;
  }

  ul {
    display: flex;
    gap: 5rem;
    justify-content: flex-end;
    align-items: center;

    li {
      opacity: 1;
      a {
        font-style: normal;
        font-weight: 500;
        font-size: 1.7rem;
        line-height: 100%;
        letter-spacing: 0.8px;
        color: $bege;
      }
      .lightBlueButton{
        font-weight: 600;
        color: $azul-900;
      }
    }
  }

  @media screen and (max-width: 700px) {
    padding: 2.2rem;

    >a{
      width: 4.4rem;
      height: 4.2rem;
      margin: 0;
      img{
        width: 100%;
        height: 100%;
      };
    }

    label .menu {
      position: relative;
      z-index: 1000;
      cursor: pointer;
    }

    .hamburger{
      .navicon {
      display: block;
      height: 1px;
      position: relative;
      width: 2rem;
    }
    .navicon:before,
    .navicon:after {
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      transition: all 0.2s ease-out;
      width: 100%;
    }
    .navicon:before {
      top: 5px;
    }
    .navicon:after {
      top: -5px;
    }
      .fechar{
        display: none;
      }
    }

    label input:checked {
      height: 100vh;
    }

    label input:checked + .menu .hamburger {
      .abrir{
        display: none;
      }
      .fechar{
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2%;
        font-size: 1.4rem;
        display: initial;
        animation: appear 0.5s ease-in;
      }
    }

    label ul {
      opacity: 0;
      display: none;
      animation: appear 0.5s ease-in;
    }

    label input:checked + .menu + ul {
      opacity: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 4vh;
      position: absolute;
      top: 0;
      width: 70vw;
      right: 0;
      padding: 2.3rem 2.4rem 3.7rem;
      height: 111vw;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      z-index: 200;
      border-radius: 30px 0px 0px 30px;
      li{
        a{
          font-size: 1.6rem;
          line-height: 1.6rem;
          letter-spacing: 0%;
          text-transform: none;
        }
      }
      >img{
        width: 14rem;
        height: 13rem; 
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }

  }
  @media screen and (min-width: 701px) and (max-width: 1260px) {
    padding-right: 10%;
    padding-left: 5%;
    padding-top: 2rem;
    padding-bottom: 2rem;

    label .menu {
      position: absolute;
      z-index: 1000;
      width: 50px;
      height: 50px;
      cursor: pointer;
    }

    label input {
      display: none;
    }

    label input:checked {
      height: 100vh;
      width: 100vw;
      margin-bottom: 0;
      padding-left: 0;
      top: -7.8rem;
    }

    label input:checked + .menu + ul {
      opacity: 1;
      flex-direction: column;
      display: flex;
      position: absolute;
      top: -4rem;
      width: 100vw;
      right: 0;
      padding-top: 6rem;
      padding-left: 2.5rem;
      padding-bottom: 4.6rem;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
      border-radius: 0px 0px 0px 25px;
    }

    label ul {
      z-index: 200;
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
      -webkit-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      display: none;
    }

    ul {
      gap: 0;

      li {
        position: relative;
        padding-bottom: 2rem;
        padding-top: 2rem;
        a {
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 100%;
        }
      }
    }
  }
}
